# Prerequisites
*.d

# Object files
*.o
*.out
*.map
*.in
*.obj
*.bin
*.hex
*.settings

# MacOS 
**/.DS_Store

# VIM
*.swp
**/tags

# Build directory
dependencies/gcc/gcc-arm-none-eabi-9-2020-q2-update
development/system/msp_sdk/examples
development/system/msp_sdk/tools
development/system/msp_sdk/docs
**/Debug
**/_build

# Eclipse
**/.cproject
**/.project
**/.settings
